/* Keyframe for auto-scrolling animation */
@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Flip Card Styles */
.perspective {
    perspective: 1500px;
}

.transform-style-3d {
    transform-style: preserve-3d;
}

.backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.rotate-y-180 {
    transform: rotateY(180deg);
}

.group:hover .group-hover\:rotate-y-180 {
    transform: rotateY(180deg);
}

.animate-slide {
    animation: slide 35s linear infinite;
}

/* Pause animation on hover */
.animate-slide:hover {
    animation-play-state: paused;
}

/* Hide scrollbar */
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}